@config "./tailwind.config.js";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Canted Comic';
    src: url('/Frontend/assets/fonts/CantedComic Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canted Comic';
    src: url('/Frontend/assets/fonts/CantedComic Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Giants';
    src: url('/Frontend/assets/fonts/Giants.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KaBlam';
    src: url('/Frontend/assets/fonts/Ka Blam.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KaBlam Under';
    src: url('/Frontend/assets/fonts/Ka Blam Under.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* 
body {
    font-family: 'Canted Comic', sans-serif;
} */
