<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pong Game</title>
      <link rel="stylesheet" href="/Frontend/css/style.css">
      <link rel="stylesheet" href="/Frontend/css/btn.css">
</head>
<body>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      navigateTo("pong_game"); // Appelle la fonction au chargement de la page
      set_up_friend_list();
    });
  </script>
  <div id="user" style="display: none;"></div>
  <div id="content">
    <button class="btn" onclick="navigateTo('index')">HOME</button>
    <br>
    <br>
    <br>
    <canvas id="game2Canvas" width="700" height="700"></canvas>
  </div>
  <%- include('scripts.ejs') %>
</body>
</html>