<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Frontend/css/style.css">
        <link rel="stylesheet" href="/Frontend/css/btn.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modify User</title>
    </head>
    <body class="font-mainFont bg-gradient-to-l from-cyan-800 to-sky-950 min-h-screen">
        <script>
            document.addEventListener("DOMContentLoaded", function() {
              navigateTo("modify_user"); // Appelle la fonction au chargement de la page
              set_up_friend_list();
            });
        </script>
        <div id="content">
            <%- include('navbar.ejs') %>
            <h2>Modify User</h2>
            <form id="modifyUserForm" onsubmit="modify_user(event)">
                <label for="email">Adresse Email :</label>
                <input type="text" id="email" name="email" required>
                <br>
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Modifier Informations</button>
            </form>
            <div id="upload-section">
                <h3>Upload Profile Picture</h3>
                <input type="file" id="profileImage" accept="image/*">
                <button onclick="uploadProfileImage()">Upload Image</button>
            </div>
            <button class="btn" onclick="logout(1)">Logout</button>
            <button class="btn" onclick="navigateTo('index')">HOME</button>
            <canvas id="friends_list" width="300" height="500"></canvas>
        </div>
        <%- include('scripts.ejs') %>
    </body>
</html>