<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Ping Tournament</title>
      <%- include('links.ejs') %>
</head>
<body class="font-mainFont bg-paper min-h-screen">
  <div id="content">
    <div class="relative flex flex-col items-center translate-y-20">
      <div id="playersdiv" class="relative hidden flex justify-between items-center w-[320px] h-[50px] sm:w-[600px] sm:h-[50px] md:w-[800px] md:h-[50px] lg:w-[1000px] lg:h-[50px]">
        <p id="playerOne" class="player-bubble-left top-0 left-0 text-red-600 text-2xl font-canted"></p>
        <p id="playerTwo" class="player-bubble-right top-0 right-0 text-blue-700 text-2xl font-canted"></p>
      </div>
      <div id="div_ping_anim" class="relative flex w-[320px] h-[320px] sm:w-[600px] sm:h-[600px] md:w-[700px] md:h-[700px]" >
        <div id="ping_animation_arena" class="bg-ping w-[320px] h-[320px] sm:w-[600px] sm:h-[600px] md:w-[700px] md:h-[700px]"></div>
        <canvas id="ping_animation" class="absolute w-[320px] h-[320px] sm:w-[600px] sm:h-[600px] md:w-[700px] md:h-[700px]"></canvas>
      </div>
      <div class="relative flex w-[320px] h-[320px] sm:w-[600px] sm:h-[600px] md:w-[700px] md:h-[700px]">
        <div id="pingarena" class="bg-ping w-[320px] h-[320px] sm:w-[600px] sm:h-[600px] md:w-[700px] md:h-[700px] hidden"></div>
        <canvas id="pingCanvas" class="absolute w-[320px] h-[320px] sm:w-[600px] sm:h-[600px] md:w-[700px] md:h-[700px]"></canvas>
      </div>
    </div>
  </div>
  <%- include('scripts.ejs') %>
</body>
</html>