<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pong Tournament</title>
      <%- include('links.ejs') %>
</head>
<body class="font-mainFont bg-gradient-to-l from-cyan-800 to-sky-950 min-h-screen">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      navigateTo("pong_game"); // Appelle la fonction au chargement de la page
      set_up_friend_list();
    });
  </script>
  <div id="content">
    <%- include('navbar.ejs') %>
    <br>
    <br>
    <br>
    <canvas id="pongCanvas" width="1000" height="500"></canvas>
    <canvas id="friends_list" width="300" height="500"></canvas>
    <canvas id="tournament_order" width="300" height="500"></canvas>
  </div>
  <%- include('scripts.ejs') %>
</body>
</html>