<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pong Game</title>
      <link rel="stylesheet" href="/Frontend/css/style.css">
      <link rel="stylesheet" href="/Frontend/css/btn.css">
</head>
<body class="font-mainFont bg-gradient-to-l from-cyan-800 to-sky-950 min-h-screen">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      navigateTo("pong_game"); // Appelle la fonction au chargement de la page
      set_up_friend_list();
    });
  </script>
  <div id="content">
    <%- include('navbar.ejs') %>
    <button class="btn" onclick="logout(1)">Logout</button>
    <button class="btn" onclick="navigateTo('waiting_room')">PLAY</button>
    <button class="btn" onclick="navigateTo('pong_tournament')">Tournament</button>
    <button class="btn" onclick="navigateTo('ping_waiting_room')">PLAY ping</button>
    <button class="btn" onclick="navigateTo('ping_tournament')">Tournament ping</button>
    <canvas id="friends_list" width="300" height="500"></canvas>
  </div>
  <%- include('scripts.ejs') %>
</body>
</html>