<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pong Game</title>
      <%- include('links.ejs') %>
</head>
<body class="font-mainFont bg-gradient-to-l from-cyan-800 to-sky-950 min-h-screen">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      navigateTo("pong_game");
      set_up_friend_list();
    });
  </script>
  <div id="content">
    <%- include('navbar.ejs') %>
    <div class="relative flex flex-col lg:flex-row items-center justify-center min-h-screen md:space-x-8 space-y-8">
      <div class="relative lg:w-[40rem] h-[100%] flex items-center justify-center">
        <canvas id="pong_animation" class="w-[100vw] h-[60vw] lg:w-[40rem] lg:h-[24rem]"></canvas>
          <button onclick="navigateTo('waiting_room')"
                  class="absolute top-20 left-1/2 transform -translate-x-1/2
                         bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded font-secondFont">
                        PLAY PONG
          </button>
          <button onclick="navigateTo('pong_tournament')"
                  class="absolute bottom-20 left-1/2 transform -translate-x-1/2
                         bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded font-secondFont">
                        PONG TOURNAMENT
          </button>
      </div>

      <div class="relative lg:w-[32rem] h-[100%] flex items-center justify-center">
        <canvas id="ping_animation" class="w-[100vw] h-[100vw] lg:w-[32rem] lg:h-[32rem] max-w-full max-h-full"></canvas>
          <button onclick="navigateTo('ping_waiting_room')"
                  class="absolute top-16 left-1/2 transform -translate-x-1/2
                         bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded font-secondFont">
                        PLAY PING
          </button>
          <button onclick="navigateTo('ping_tournament')"
                  class="absolute bottom-16 left-1/2 transform -translate-x-1/2
                         bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded font-secondFont">
                        PING TOURNAMENT
          </button>
      </div>
  </div>
  </div>
  <%- include('scripts.ejs') %>
</body>
</html>