<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Frontend/css/style.css">
        <link rel="stylesheet" href="/Frontend/css/btn.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Social</title>
</head>
<body class="font-mainFont bg-gradient-to-l from-cyan-800 to-sky-950 min-h-screen">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          navigateTo("social"); // Appelle la fonction au chargement de la page
          set_up_friend_list();
        });
      </script>
    <div id="content">
        <%- include('navbar.ejs') %>
        <h2>Add Friend</h2>
        <form onsubmit="add_friend(event)">
            <label for="friend_username">Find by username :</label>
            <input type="text" id="friend_username" required>
            <button class="btn" type="submit">Add Friend</button>
        </form>
        <button class="btn" onclick="navigateTo('index')">Home</button>
        <br>
        <canvas id="friends_list" width="300" height="500"></canvas>
        <canvas id="pending_request" width="300" height="500"></canvas>
    </div>
	<%- include('scripts.ejs') %>
</body>
</html>