<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Solo PING</title>
      <%- include('links.ejs') %>
</head>
<body class="font-mainFont bg-paper min-h-screen">
  <%- include('navbar.ejs') %>
  <div id="content" class="flex justify-center items-center">
    <div class="relative flex flex-col items-center translate-y-20">
      <p id="solo_score" class="text-red-600 text-3xl font-kablam"></p>
      <div class="relative flex w-[320px] h-[320px] sm:w-[600px] sm:h-[600px] md:w-[700px] md:h-[700px]">
        <div id="pingarena" class="bg-ping w-[320px] h-[320px] sm:w-[600px] sm:h-[600px] md:w-[700px] md:h-[700px]"></div>
        <canvas id="solopingCanvas" class="absolute w-[320px] h-[320px] sm:w-[600px] sm:h-[600px] md:w-[700px] md:h-[700px]"></canvas>
      </div>
      <div>
        <p class="mt-8 bubble relative font-canted font-bold text:xl md:text-2xl">Press H to get some help</p>
      </div>
      <div id="div_ping_solo_help" class="ping-solo-help hidden absolute z-50 top-0 left-0"></div>
    </div>
  </div>
  <%- include('scripts.ejs') %>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    set_up_friend_list();
  });
</script>
</html>

        