<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pong Queues</title>
      <%- include('links.ejs') %>
</head> 
<body class="font-mainFont bg-gradient-to-l from-cyan-800 to-sky-950 min-h-screen">
  <div id="content">
    <%- include('navbar.ejs') %>
    <button class="btn" onclick="navigateTo('index')">HOME</button>
    <br>
    <br>
    <br>
    <canvas id="pongCanvas" width="1000" height="500"></canvas>
    <!-- <canvas id="friends_list" width="300" height="500"></canvas> -->
  </div>
  <%- include('scripts.ejs') %>
</body>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // navigateTo("waiting_room"); // Appelle la fonction au chargement de la page
      set_up_friend_list();
    });
  </script>
</html>