<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pong Queues</title>
      <%- include('links.ejs') %>
</head>
<body class="font-mainFont bg-gradient-to-l from-cyan-800 to-sky-950 min-h-screen">
  <div id="content">
    <%- include('navbar.ejs') %>
	<%- include('sidebar.ejs') %>
    <div class="relative flex flex-col items-center translate-y-20">
      <div class="relative flex w-[320px] h-[50px] sm:w-[600px] sm:h-[50px] md:w-[800px] md:h-[50px] lg:w-[1000px] lg:h-[50px]">
        <p id="playerOne" class="absolute top-0 left-0 text-red-600 text-2xl font-secondFont"></p>
        <p id="playerTwo" class="absolute top-0 right-0 text-blue-700 text-2xl font-secondFont"></p>
      </div>
      <canvas id="pong_animation" class="w-[320px] h-[160px] sm:w-[600px] sm:h-[300px] md:w-[800px] md:h-[400px] lg:w-[1000px] lg:h-[500px]"></canvas>
      <div class="relative flex w-[320px] h-[160px] sm:w-[600px] sm:h-[300px] md:w-[800px] md:h-[400px] lg:w-[1000px] lg:h-[500px]">
        <canvas id="pongCanvas" class="w-[320px] h-[160px] sm:w-[600px] sm:h-[300px] md:w-[800px] md:h-[400px] lg:w-[1000px] lg:h-[500px]"></canvas>
      </div>
  </div>
  </div>
  <%- include('scripts.ejs') %>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    set_up_friend_list();
  });
</script>
</html>